# Python cache
__pycache__/
*.pyc

# Pytest
.pytest_cache/

# Virtual environments
venv/
.venv/

# Logs
logs/
*.log

# VS Code
.vscode/

# JetBrains IDEs
.idea/

# OS files
.DS_Store
Thumbs.db

#allure reports
allure-results/
allure-report/